body{
    background: rgb(246,246,246);
}

#logout{
    position: absolute;
    top: 5px;
    left: 5px;
}

#logout > a{
    font-size: 1.2em;
    color: rgb(0,192,159);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

#logout > a:hover{
    color: rgb(0,144,120);
}

#form-header{
    padding: 40px 20px 0 20px;
}

#form-body{
    padding: 0 20px 0 20px;
}

#head-name{
    background: rgb(0,192,159);
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 2.8em;
}

.container{
    width: 70%;
}

.full-height{
    background: white;
    box-shadow: 0 0 10px 1px grey;
}

.label-header{
    font-size: 1.15em;
}

.label-body{
    font-size: 1em;
    font-weight: normal;
}

#button-search, #save-button{
    background: rgb(0,192,159);
    color: white;
}

#button-search:hover, #save-button:hover{
    background: rgb(0,144,120);
    color: white;
}

.margin-bottom-zero{
    margin-bottom: 0;
}

.margin-top-zero{
    margin-top: 0;
}

.margin-top-one{
    margin-top: 1px;
}

.margin-top-three{
    margin-top: 3px;
}

.margin-top-ten{
    margin-top: 10px;
}

.margin-top-twenty{
    margin-top: 20px;
}

.margin-component-form-header{
    margin-top: 20px;
}

.margin-top-esophageal-manometry{
    margin-top: 40px;
}

.margin-top-forty{
    margin-top: 40px;
}

.margin-top-bottom-three{
    margin: 3px 0 3px 0;
}

.destroy-padding{
    padding: 0;
}

.destroy-padding-right{
    padding-right: 0;
}

.destroy-padding-left{
    padding-left: 0;
}

.padding-top-seven{
    padding-top: 7px;
}

.padding-top-other-indicator{
    padding-top: 10px;
}

.padding-left-twenty-five{
    padding-left: 25px;
}

.padding-right-thirty-five{
    padding-right: 35px;
}

.padding-left-anorectal{
    padding-left: 25px;
}

.padding-bottom-fifty{
    padding-bottom: 50px;
}

.padding-top-indicator{
    padding-top: 7px;
}

.padding-left-r{
    padding-left: 0;
}

textarea{
    resize: none;
}

.toaster > div{
    color: white;
    font-size: 1.2em;
    background: rgba(209,26,26,0.5);
    border: transparent;
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }

    .margin-component-form-header{
        margin-top: -5px;
    }

    .margin-top-header{
        margin-top: 20px;
    }

    .margin-top-esophageal-manometry{
        margin-top: 20px;
    }

    .margin-top-anorectal{
        margin-top: 10px;
    }

    .margin-right-other-anorectal{
        margin-right: 15px;
    }

    .margin-left-right-anorectal{
        margin-left: -5px;
        margin-right: 3px;
    }

    .padding-top-indicator{
        padding-top: 0;
    }

    .padding-top-other-indicator{
        padding-top: 3px;
    }

    .padding-left-anorectal{
        padding-left: 0;
    }

    .padding-left-r{
        padding-left: 15px;
    }


}
